header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    background-color: $banner;
    padding: 20px 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
}

.button {
    padding: 19px 45px;
    background-color: $cta;
    border-radius: 15px;

    a {

        color: $white;
        font-size: 18px;
        line-height: 22px;
        border-radius: 15px;
        border: none;
        text-decoration: none;
    }

}

.nav-list {
    display: flex;
}

.nav-menu {
    display: flex;
    gap: 80px;

    .nav-item {
        list-style: none;

        .nav-link {
            text-decoration: none;
            font-size: 18px;
            line-height: 22px;
            font-weight: $semi-bold;
            color: #212121;
            font-family: $font-3;
        }
    }
}


.hamberger {
    display: none;
    cursor: pointer;


    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgb(40, 35, 35);
    }
}

@media (max-width:$media-md) {
    .hamberger {
        display: block;
        cursor: pointer;

        .bar {}

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: $banner;
        width: 50%;
        text-align: center;
        transition: 0.3s;

        .nav-item {
            margin: 15px 0;


        }


        &.active {
            left: 0;
        }
    }

    // .button {
    //     position: fixed;
    //     left: 0%;
    //     top: 347px;
    //     gap: 0;
    //     flex-direction: column;
    //     background-color: $cta;
    //     width: 50%;
    //     text-align: center;
    //     transition: 0.3s;

    //     a {
    //         margin: 15px 0;
    //     }

    //     &.active {
    //         left: 0;
    //     }
    // }
}