//global
//$host:'../pics/';
//$host: 'http://assets.aversio.com/resources/resellers/2/138/125/img/';
//media query
$media-xlg: 1500px; //120em
$media-lg: 1200px; //75em
$media-md: 992px; //62em
$media-sm: 768px; //48em
$media-xs: 544px; //34em


//fonts
$font-1: 'Gochi Hand',
cursive;
$font-2: 'Poppins',
sans-serif;
$font-3: 'Quicksand',
sans-serif;

//colors
$cta: #6933A0;
$secondary: #2B2C36;
$banner: #F4F5F4;
$para: #201B17;
$line: #979797;
$white: #fff;
$black: #000;

//weights
// $light:300;
$regular:400;
$normal: 500;
$semi-bold:600;
$bold:700;