footer {
    width: 100%;
    height: auto;
    background: #C8D7EE;

    .container {
        .footer__menu--grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            // gap: 155px;
            @media ($media-xs) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media ($media-md) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .footer__menu--logo {
                a {
                    display: flex;
                    align-items: center;
                    margin-left: 23px;
                    padding-top: 53px;
                }
            }

            .footer__menu-link {
                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        padding: 6px;

                        h5 {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: $bold;
                            font-family: $font-3;
                            color: $secondary;
                            margin: 0;
                        }

                        a {
                            text-decoration: none;
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: $regular;
                            font-family: $font-3;
                            color: $black;
                            // line-height: 2;
                        }
                    }
                }
            }

            .footer__menu-contact--info {
                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        text-decoration: none;
                        font-size: 20px;
                        line-height: 25px;
                        font-weight: $regular;
                        font-family: $font-3;
                        color: $black;
                        padding: 6px;

                        h5 {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: $bold;
                            font-family: $font-3;
                            color: $secondary;
                            margin: 0;
                        }

                        span {
                            a {
                                text-decoration: none;
                                font-size: 20px;
                                line-height: 25px;
                                color: $secondary;
                                font-weight: $semi-bold;
                            }
                        }

                        .menu__contact--social-links {
                            display: flex;
                            gap: 30px;

                            a {
                                // padding-right: 33px;
                            }
                        }
                    }
                }
            }

            .footer__insured-by-logo {

                text-align: end;
                padding-right: 24px;

                ul {
                    li {
                        list-style: none;


                        h5 {
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: $bold;
                            font-family: $font-3;
                            color: $secondary;
                            margin-top: 0;
                            margin-bottom: 8px;
                        }

                        a {}
                    }
                }
            }
        }
    }
}

@media (max-width:$media-md) {
    footer {
        .container {
            .footer__menu--grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                text-align: center;

                .footer__menu-link {
                    ul {
                        li {
                            h5 {
                                font-size: 18px;
                                line-height: 22px;
                            }

                            a {
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }
                    }
                }

                .footer__insured-by-logo {
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    ul {
                        li {
                            h5 {
                                font-size: 24px;
                                line-height: 25px;

                            }


                        }
                    }
                }

                .footer__menu-contact--info {
                    ul {
                        li {
                            h5 {
                                font-size: 18px;
                                line-height: 22px;
                            }

                            a {
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:$media-xs) {
    footer {
        .container {
            .footer__menu--grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;

                .footer__menu--logo {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }

                .footer__menu-link {
                    padding-top: 20px;

                    ul {
                        li {
                            h5 {
                                font-size: 16px;
                                line-height: 22px;
                            }

                            a {
                                font-size: 16px;
                                line-height: 22px;
                            }
                        }
                    }
                }

                .footer__insured-by-logo {
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    ul {
                        li {
                            h5 {
                                font-size: 22px;
                                line-height: 25px;

                            }


                        }
                    }
                }

                .footer__menu-contact--info {
                    ul {
                        li {
                            h5 {
                                font-size: 16px;
                                line-height: 22px;
                            }

                            span {
                                a {
                                    font-size: 16px;
                                    line-height: 22px;
                                }
                            }

                            .menu__contact--social-links {
                                display: flex;
                                justify-content: center;
                                gap: 15px;

                                a {
                                    // padding-right: 33px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}