.services__rates {
    width: 100%;
    height: auto;
    top: 0%;
    left: 0;
    margin: 0;
    background: $banner;
    padding-top: 115px;

    .container {
        .services__and__rates--center {
            display: flex;
            justify-content: center;

            .services-and-rates--grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                transform: translate(0%, 0%);
                gap: 30px;

                .services__benefits {
                    // display: grid;

                    .services__image--header {
                        background-image: url('../static/images/IMG_20220628_104211.png');
                        width: 407px;
                        height: 539.28px;
                        border-radius: 15px;
                        text-align: center;

                        &#backgrnd-img1 {
                            background-image: url('../static/images/groypwalk.png');
                        }

                        &#backgrnd-img2 {
                            background-image: url('../static/images/IMG_20220628_104211(1).png');
                        }

                        h3 {
                            margin: 0;
                            font-size: 50px;
                            line-height: 62px;
                            font-weight: $regular;
                            color: $banner;
                            font-family: $font-3;
                            padding-top: 127px;
                        }

                        p {
                            margin: 0;
                            font-size: 40px;
                            line-height: 50px;
                            font-weight: $bold;
                            font-family: $font-3;
                            color: $banner;
                            padding-top: 40px;
                        }
                    }

                    .benefits__card--overlap {
                        // left: 50%;
                        transform: translate(0%, 0%);
                        // position: relative;
                        width: 407px;
                        height: auto;
                        background-color: #D9E8FF;
                        border-radius: 15px;
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        top: 75%;

                        &#backgroud-color {
                            background-color: #EEDEFF;
                        }

                        &#backgroud-color1 {
                            background-color: #FFE0EB;
                        }

                        .benefit_card--heading {
                            padding-top: 40px;

                            h4 {
                                margin: 0;
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $bold;
                                color: $black;
                                font-family: $font-3;
                            }
                        }

                        .benefits__card--listing {
                            ul {
                                li {
                                    list-style: none;
                                    display: flex;
                                    align-items: center;
                                    gap: 22px;
                                    padding-top: 20px;

                                    span {
                                        font-size: 20px;
                                        line-height: 25px;
                                        font-weight: $regular;
                                        font-family: $font-3;
                                        color: $black;
                                        width: 260px;
                                    }
                                }
                            }
                        }

                        .benefit__card--readmore-link {
                            padding-top: 30px;
                            text-align: center;

                            a {
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $regular;
                                color: $cta;
                                font-family: $font-3;
                            }

                            h4 {
                                margin: 0;
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $bold;
                                color: $black;
                                font-family: $font-3;

                            }

                            p {
                                font-size: 16px;
                                line-height: 20px;
                                font-weight: $regular;
                                color: $black;
                                font-family: $font-3;
                                margin: 0;
                                padding-top: 8px;
                            }
                        }

                        .benefit__card--to-participate {
                            padding-top: 30px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            h4 {
                                margin: 0;
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $bold;
                                color: $black;
                                font-family: $font-3;
                            }

                            ul {
                                &::first-line {
                                    text-decoration: underline;
                                }

                                li {
                                    font-size: 16px;
                                    line-height: 20px;
                                    font-weight: $regular;
                                    color: $black;
                                    font-family: $font-3;
                                }
                            }
                        }

                        .benefit__card--rate {
                            text-align: center;
                            padding-top: 30px;
                            padding-bottom: 40px;

                            h4 {
                                margin: 0;
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $bold;
                                color: $black;
                                font-family: $font-3;
                            }

                            p {
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $regular;
                                color: $black;
                                font-family: $font-3;
                                margin: 0;
                            }
                        }

                        .benefit__card--yellow-background {
                            padding-top: 23px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-bottom: 40px;

                            h5 {
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $regular;
                                color: $black;
                                font-family: $font-3;
                                margin: 0;
                                background-color: #FFEAA0;
                                width: 100px;
                            }

                            p {
                                width: 260px;
                                font-size: 20px;
                                line-height: 25px;
                                font-weight: $regular;
                                color: $black;
                                font-family: $font-3;
                                margin: 0;
                                padding-top: 6px;
                                background-color: #FFEAA0;
                            }
                        }
                    }
                }
            }



        }

        .discription-box {
            position: absolute;
            top: 125%;
            left: 44%;

            .discription-box__list {
                background-color: $white;
                border-radius: 15px;

                ul {
                    padding: 40px 40px 40px 40px;

                    li {
                        font-size: 16px;
                        line-height: 20px;
                        font-weight: $regular;
                        font-family: $font-3;
                    }
                }
            }
        }

    }
}





@media (max-width:$media-xlg) {
    .services__rates {
        .container {

            .discription-box {

                top: 150%;
                left: 36%;
            }
        }
    }
}

@media (max-width:$media-lg) {
    .services__rates {
        .container {

            .discription-box {

                top: 150%;
                left: 35%;
            }

            .services__and__rates--center {
                .services-and-rates--grid {

                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    .services__benefits {
                        .services__image--header {
                            width: 350px;
                            height: 480px;
                        }

                        .benefits__card--overlap {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$media-md) {
    .services__rates {
        .container {

            .discription-box {

                top: 150%;
                left: 40%;
                width: 500px;
            }

            .services__and__rates--center {
                .services-and-rates--grid {

                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    .services__benefits {
                        .services__image--header {
                            width: 300px;
                            height: 480px;
                        }

                        .benefits__card--overlap {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$media-sm) {
    .services__rates {
        .container {

            .discription-box {

                top: 138%;
                left: 38%;
                width: 450px;
            }

            .services__and__rates--center {
                .services-and-rates--grid {

                    // display: grid;
                    // grid-template-columns: repeat(2, 1fr);
                    .services__benefits {
                        .services__image--header {
                            width: 220px;
                            height: 400px;

                            h3 {
                                font-size: 35px;
                                line-height: 30px;
                            }

                            p {
                                font-size: 25px;
                                line-height: 30px;
                            }
                        }

                        .benefits__card--overlap {
                            width: 220px;

                            .benefits__card--listing {
                                ul {
                                    padding-left: 0px;

                                    li {
                                        gap: 8px;

                                        span {
                                            font-size: 18px;
                                            line-height: 20px;
                                            width: 160px;
                                        }
                                    }
                                }
                            }

                            .benefit__card--yellow-background {
                                padding-top: 15px;

                                h5 {
                                    font-size: 18px;
                                }

                                p {
                                    width: 210px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$media-xs) {
    .services__rates {
        .container {

            .discription-box {

                top: 144%;
                left: 38%;
                width: 320px;
            }

            .services__and__rates--center {
                .services-and-rates--grid {

                    .services__benefits {
                        .services__image--header {
                            width: 150px;
                            height: 400px;

                            h3 {
                                font-size: 25px;
                                line-height: 30px;
                            }

                            p {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }

                        .benefits__card--overlap {
                            width: 150px;

                            .benefits__card--listing {
                                ul {
                                    padding-left: 0px;

                                    li {
                                        gap: 5px;

                                        span {
                                            font-size: 16px;
                                            line-height: 20px;
                                            width: 104px;
                                        }
                                    }
                                }
                            }

                            .benefit__card--yellow-background {
                                padding-top: 15px;

                                h5 {
                                    font-size: 18px;
                                }

                                p {
                                    width: 210px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}