.testimonial {
    width: 100%;
    height: auto;
    top: 0;
    right: 0;
    background: $banner;

    .container {
        .testimonial--grid {
            padding-top: 90px;
            display: grid;

            .testimonial__header {
                display: flex;
                justify-content: center;

                h2 {
                    margin: 0;
                    font-size: 40px;
                    line-height: 40px;
                    color: $cta;
                    font-weight: $semi-bold;
                    font-family: $font-3;
                }
            }

            .testimonial__arrow-box--flex {
                padding-top: 57px;
                display: flex;
                justify-content: center;
                gap: 18px;

                // .testimonial__arrow--full-card {
                //     height: 100%;
                //     display: flex;
                //     flex-direction: column;

                .card__arrow-box {
                    width: 348.46px;
                    min-height: 360px;
                    background: #EEDEFF;
                    border-radius: 10px;
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    .arrow-box__header {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        padding: 19px 0 20px 0;

                        h3 {
                            font-size: 24px;
                            line-height: 30px;
                            font-weight: $bold;
                            color: $secondary;
                            font-family: $font-3;
                            margin: 0;
                        }
                    }

                    .arrow-box__discription {
                        display: flex;

                        p {
                            font-size: 16px;
                            line-height: 20px;
                            color: $secondary;
                            font-family: $font-3;
                            font-weight: $regular;
                            padding: 0 25px 0 25px;
                        }
                    }

                }

                .arrow-bottom:after {
                    position: absolute;
                    bottom: -19px;
                    left: 3%;
                    margin-left: -10px;
                    content: "";
                    display: block;
                    border-left: 23px solid transparent;
                    border-right: 11px solid transparent;
                    border-top: 25px solid #eedeff;
                    border-radius: -92px;
                    border-radius: 8px;

                }

                .profile__thumbnail-name {
                    display: flex;
                    gap: 20px;
                    padding-top: 25px;

                    .testimonial__thubnail-profile {
                        width: 176px;
                        height: 176px;

                        img {}
                    }

                    .thumbnail__name-and-rating {
                        p {
                            font-size: 20px;
                            line-height: 24px;
                            font-weight: $regular;
                            color: $secondary;
                            font-family: $font-1;
                            margin: 0;
                        }

                        .thumbnail__rating {
                            padding-top: 33px;
                        }
                    }
                }




            }

        }



        .testimonial__button--center {
            display: flex;
            justify-content: center;
            padding-top: 47px;

            .testimonial__read-more--button {
                width: 171px;
                height: 80px;
                background-color: $white;
                border: 3px solid $cta;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $font-3;

                a {
                    font-size: 20px;
                    line-height: 30px;
                    color: $cta;
                    font-family: $font-2;
                    font-weight: $normal;
                    text-decoration: none;
                }
            }
        }
    }
}


@media (max-width:$media-sm) {
    .testimonial {
        .container {
            .testimonial--grid {
                .testimonial__header {
                    h5 {}
                }

                .testimonial__arrow-box--flex {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 15px;

                    .testimonial__arrow--full-card {
                        gap: 15px;

                        .card__arrow-box {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$media-md) {
    .testimonial {
        .container {
            .testimonial--grid {
                .testimonial__header {
                    h5 {}
                }

                .testimonial__arrow-box--flex {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    row-gap: 20px;

                    .testimonial__arrow--full-card {
                        gap: 15px;

                        .card__arrow-box {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:$media-xs) {
    .testimonial {
        .container {
            .testimonial--grid {
                .testimonial__header {
                    h5 {}
                }

                .testimonial__arrow-box--flex {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 15px;

                    .testimonial__arrow--full-card {
                        gap: 15px;

                        .card__arrow-box {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}