.gallery {
    width: 100%;
    height: auto;
    top: 0%;
    left: 0;
    margin: 0;
    background: $banner;


    .container {
        .insta-gallery {}

        .botton-testimonial {
            padding-bottom: 50px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;

            a {
                font-size: 20px;
                line-height: 30px;
                padding: 23px 32px 23px 32px;
                color: #34242D;
                border: 3px solid $cta;
                border-radius: 15px;
                background-color: $white;
                font-weight: $normal;
                font-family: $font-2;
                text-decoration: none;
            }
        }
    }
}